body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(MenuFond.png);
    background-size: cover; 
    background-attachment: fixed;
}

.Contenu {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 750px;
}

.publication {
    flex: 1;
    margin: 15px;
    box-sizing: border-box;
    background-color: rgba(200, 246, 217, 0.75); 
    border-radius: 10px; 
}

.autres {
    width: 20%;
    box-sizing: border-box;
    height: 100%;
    border-radius: 10px;
}

.activites, .contact {
    background-color: rgba(200, 246, 217, 0.75); 
    border-radius: 5px; 
    height: 50%; 
}
