body {
    background-image: url(images/MenuFond.png);
    background-size: cover; 
    background-attachment: fixed; 
}
#corps
{
    display: flex;
}
.image
{
    height: 100px;
    width: 100px;
}
#photo1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow {
    cursor: pointer;
    font-size: 2rem;
    margin: 0 20px;
}
