#tete
{
    display: flex;
    align-items: center; 
    background-color: #deeeff;
}
#logo
{
    flex: 1;
}
#logo1
{
    width: 200px;
    height: 200px;
}
#centre
{
    flex: 2;
    text-align: center;
}
h1
{
    font-size: 45px;
    text-decoration: underline solid black;
}
h2
{
    font-size: 30px;
}
#inscription 
{
    flex: 1;
    text-align: right;
}
#inscription1
{
    width: 200px;
    height: 200px;

}

.survole .moment-survole {
    visibility: hidden;
    width: 500px;
    margin-top: 40px;
    background-color: #333;
    color: #fff;
    font-size: large;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-60%);
    transition: opacity 0.5s;
}
.survole:hover .moment-survole {
    visibility: visible;
}
