#tete
{
    display: flex;
    align-items: center; 
    background-color: #deeeff;
}
#logo
{
    flex: 1;
}
#logo1
{
    width: 200px;
    height: 200px;
}
#centre
{
    flex: 2;
    text-align: center;
}
h1
{
    font-size: 45px;
    text-decoration: underline solid black;
}
h2
{
    font-size: 30px;
}
#inscription 
{
    flex: 1;
    text-align: right;
}
#inscription1
{
    width: 40%;
    height: auto;
    transform: scale(1.05);
}
    

.survole .moment-survole {
    visibility: hidden;
    width: 500px;
    margin-top: 40px;
    background-color: #333;
    color: #fff;
    font-size: large;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    transform: translateX(-60%);
    transition: opacity 0.5s;
}
.survole:hover .moment-survole {
    visibility: visible;
}
.popup {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 40;
}

/* Contenu du pop-up */
.popup-content {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

/* Bouton pour fermer */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Formulaire */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.boutonpop
{
    margin: 5px;
}
